*{
    margin: 0;
}

div{
    background-image:linear-gradient(rgba(0, 128, 128, 0),rgba(0, 0, 255, 0)),
     url("https://images.unsplash.com/photo-1542038784456-1ea8e935640e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 100vh;
     /*filter: blur(25px);*/
     filter: brightness(100%);
}
